@import '@/theme/variables.scss';
 .pagination {

     &__nums {
        display: inline-flex;
     }
     &__num {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        color: rgba(31, 32, 65, 0.5);
        border-radius: 22px;
        &_active {
            font-family: $font-mont-bold;
            color: #FFFFFF;
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        }
        &_next {
            background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
            font-size: 24px;
            line-height: 20px;
            color: #FFFFFF;
        }
     }
     &__text {
        padding-left: 5px;
        font-family: $font-mont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: rgba(46, 46, 54, 0.75);
        margin-top: 10px;
     }
     
 }