

.pagination
    .pagination__nums
        .pagination__num.pagination__num_active 1
        .pagination__num 2
        .pagination__num 3
        .pagination__num ...
        .pagination__num 15
        .pagination__num.pagination__num_next.material-icons arrow_forward
    .pagination__text 1 – 12 из 100+ вариантов аренды