@import '@/theme/variables.scss';

summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;}
summary:focus {
    outline:0;
  }

.exp-check-list {
    width: 266px;
    &__expand {}
    
    &__arrow {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 44px;
        width: 44px;
        &::after {
            content: 'keyboard_arrow_down';
        }
    }

    &__summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 44px;
        font-family: $font-mont;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: #1F2041;
        text-transform: uppercase;
    }
}


details[open] {
    .exp-check-list__arrow::after {
        content: 'keyboard_arrow_up';
    }
};





