//- 
    options.items - обьект названий чекбоксов и id
    options.items.id - id input'a
    options.items.title - title input'a
    options.name - имя списка

include ../checkbox/checkbox

mixin exp-check-list(options)
    
    .exp-check-list
        details.exp-check-list__expand
            summary.exp-check-list__summary= options.name
                i.material-icons.exp-check-list__arrow 
            for item in options.items
                +checkbox({id : item.id, title: item.title})
                

                    

                

