//- 
    options.space - добавляет белый контейнер при true
    options.purpletxt - по умолчанию белый, при true - фиолетовый
    options.arrow - добавляет стрелку при true
    options.disable - при true снижает opasity button
    options.text - text кнопки
    options.value - значение кнопки
    options.name - уникальное имя кнопки

include ../button-text/button-text

mixin button(options)
    -   if (!options) {options = {}}
    -    var space = '';
    -    var arrow = '';
    -    var purpletxt = '';
    -    var disable = '';
    -    if (options.space) {space='button__white-space'}
    -    if (options.arrow) {arrow='button_arrow'}
    -    if (options.purpletxt) {purpletxt ='button__text_purpletxt'}
    -    if (options.disable) {disable ='button_disabled'}

    button(class= [arrow, disable], value= options.value, name= options.name).button
        div(class= space)
            +button-text({color: options.purpletxt, text: options.text})
    