@import '@/theme/variables.scss';

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    border-radius: 22px;
    height: inherit;
    width: inherit;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    outline: none;
    cursor: pointer;
    &_disabled {
      background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
      cursor: default;
    }

    &__text {
      font-family: $font-mont-bold, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: white;
      &_purpletxt {
        color: #BC9CFF;
      }
    }
    &__white-space {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 2px;
      right: 2px;
      border-radius: 22px;
     
    }

    &_arrow {
      &:after {
        position: absolute;
        right: 10px;
        font-family: 'Material Icons';
        font-size: 24px;
        content: 'arrow_forward';
        color:white;
      }
    }

   
}

