.copyright
    .copyright__container
            img(src="main-logo.svg").main-logo.copyright_item-1
            .copy-text.copyright_item-2 Copyright © 2018 Toxin отель. Все права зачищены.
            .socials
                .socials__item
                        a(href="#").fab.fa-twitter
                .socials__item
                        a(href="#").fab.fa-facebook-square
                .socials__item
                        a(href="#").fab.fa-instagram