@import '@/theme/variables.scss';
.menu {
    display: flex;
    align-items: center;

    &__item {
        display: flex;
        padding: 0 10px;

        &_current {
            color: rgba(31, 32, 65, 0.75);
            font-weight: bold;
        }

        &_arrow-down {
            &::after{
                font-family: 'Material Icons';
                font-size: 24px;
                content: 'keyboard_arrow_down';
            }
        }
    }
}