//- 
    options.title - title карточки
    options.buttext - текст кнопки
    options.calid - calendar id
    
    
include ../../components/calendar/calendar
include ../../components/button/button
include ../../components/dropdown-room/dropdown-room

mixin card-select(options)
    - if (!options) options = {}
    - let title = options.title || 'Найдём номера под ваши пожелания'
    - let buttext = options.buttext || 'подобрать номер'

    .card-select
        form.card-select__container
            .card-select__title= title
            .card-select__cal
                +calendar({id: options.calid, title1: 'прибытие', title2: 'выезд'})
            .card-select__drop
                +dropdown-room({preset: 'guest', title: 'гости', values: options.values, id: options.dropid})
            .card-select__button
                +button({arrow: true, text: buttext})