@import '@/theme/variables.scss';

.form-el {
    width: 1440px;
    margin: auto;
    background: white;

    &__container {
        margin: auto;
        display: grid;
        grid-template-columns: 320px 320px 320px;
        grid-template-rows: 200px;
        grid-auto-rows: minmax(100px, auto);
        width: 1104px;
        column-gap: 72px;
        margin-top: 65px;
    }
    &__checkboxes {
        margin-bottom: 40px;
    }
    &__button {
        height: 44px;
        width: 99px;
    }
    &__lbut {
        height: 44px;
        width: 320px;
    }
    &__buttons-container {
        display: grid;
        grid-template-columns: 99px 99px;
        column-gap: 20px;
        row-gap: 30px;
    }
    &__text {
        font-family: $font-mont-bold;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
        margin: 0;
        margin-bottom: 15px;
    }
    
    

    &__text-field {
        
    }
    &__text-field p {
        margin: 0;
        margin-bottom: 5px;
        
    }
    &__pagination {
        margin-top: 40px;
     }
    &__like-but {
        display: flex;
    }
    &__like-but .like-butt {
        margin-right: 10px;
    }
    &__bullet-text {
        font-family: $font-mont-bold;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
    }
}

.form-el__toggle .toggle-but {
    margin-bottom: 10px;
}