@import '@/theme/variables.scss';


.text-input {
    position: relative;
    
    &__box {
        position: relative;
        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
        padding-left: 15px;
        width: 260px;
        height: 44px;
        outline: none;
        &::placeholder {
            font-family: $font-mont, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: rgba(31, 32, 65, 0.25);
        }
        &:hover,
        &:focus {
            border: 1px solid rgba(31, 32, 65, 0.5);
        }
    }

    &__w320 {
        width: 320px;
    }

    &__icon {
        
        position: absolute;
        top: 10px;
        left: 225px;
        &:after {
            font-family: 'Material Icons';
            font-size: 24px;
            background: $grad-color; /* Градиент для текста */
            -webkit-background-clip: text; /* Обрезаем фон по тексту */
            -webkit-text-fill-color: transparent; /* Прозрачный текст */
            content: 'arrow_forward';
        }
    }
}
