@import '@/theme/variables.scss';

.card-login {
    width: 380px;
    height: 358px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    &__container {
        width: 320px;
    }
    &__title {
        margin: 40px 0 20px 0;
        font-family: $font-mont-bold;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #1F2041;
    }
    &__email {
        margin-bottom: 10px;
    }
    &__button {
        width: 320px;
        height: 44px;
        margin: 20px 0 30px 0;
    }
    &__create {
        display: flex;
        justify-content: space-between;
        & p {
            font-family: $font-mont;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
        }
    }
    &__make-acc {
        width: 99px;
        height: 44px;
    }
}