//-
    options.text - title text

mixin range(options)
    - if (!options) {options = {}}
    .range
        .range__input
            p.range__text= options.text
            input(type="text" ).range__input-box
        .range__cont
            .range__min
            .range__bar
            .range__max