

input(type="text" id="range-slider" name="range-slider" value="")


.range
    .range__input
        input(type="text" readonly).range__input-box
    .range__cont
        .range__min(draggable="false")
        .range__bar
        .range__max(draggable="false")