//.form-elem
//    .form-elem__container
//        .text-field-box
//            input(type="text" placeholder="Email" maxlength="100").text-field

<div class="drop-box">
<div class="iqdropdown">
  <p class="iqdropdown-selection" data-seletion-text="item" data-text-plural="items"></p>
  <div class="iqdropdown-menu">
    <div class="iqdropdown-menu-option" data-id="item1">
      <div>
        <p class="text-head-foot">Спальни</p>
      </div>
    </div>
    <div class="iqdropdown-menu-option" data-id="item2">
      <div>
        <p class="text-head-foot">Кровати</p>
      </div>
    </div>
    <div class="iqdropdown-menu-option" data-id="item3">
      <div>
        <p class="text-head-foot">Ванные комнаты</p>
      </div>
    </div>
  </div>
</div>
</div>
