@import 'form-elem__container.scss';
@import '../blocks/text-field/text-field.scss';

/* 
.iqdropdown {
    background-color: white;
    width: 266px;
    height: 44px;
}
.iqdropdown-menu {
    //height: 163px;
}

.iqdropdown .iqdropdown-menu-option {
    height: 40px;
}
.iqdropdown .iqdropdown-item-controls {
    height: 30px;
    width: 92px;
}
.iqdropdown .iqdropdown-item-controls button {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.iqdropdown .iqdropdown-item-controls button.button-decrement {
    height: 30px;
    width: 30px;
}
.iq_icons {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.iqdropdown .iqdropdown-item-controls .counter {
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    width: 32px;
    height: 30px;
}
.iqdropdown .icon-decrement::after{
    background-color: white;
    content: '-';
} */

.dropdown__box {
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);

    width: 266px;
    height: 44px;
    position: relative;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px 4px 0 0;
}

.drop__menu {
    width: 266px;
    display: none;
    position: absolute;
    top: 42px;
    left: -1px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;
}

.visible {
    display: block;
}

.dropdown__box_active {
    border: 1px solid rgba(31, 32, 65, 0.5);
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    
}
.item__text {
    font-family: $font-mont-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    padding-left: 15px;
}

.item__calc {
    padding-right: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__calc-dec {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 22px;
    background-color: white;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: rgba(31, 32, 65, 0.5);
    &:focus{
        outline: none;
    }
    &:active {
        border: 1px solid rgba(31, 32, 65, 0.75);
    }
    &:hover {
        border: 1px solid rgba(31, 32, 65, 0.50);
    }
}


.item__value {
    display: inline-block;
    font-family: $font-mont-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    padding: 0 10px;
}


.item__calc-inc {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 22px;
    background-color: white;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: rgba(31, 32, 65, 0.5);
    &:focus{
        outline: none;
    }
    &:active {
        border: 1px solid rgba(31, 32, 65, 0.75);
    }
    &:hover {
        border: 1px solid rgba(31, 32, 65, 0.5);
    }
}

$color-gray: #282828;
$color-white: #fff;
$font-size-md: 20px;
$font-size-lg: 36px;
$font-size-xl: 48px;

body{
    background-color: $color-gray;
    color: $color-white;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: $font-size-xl;
}

h2 {
    margin: 50px 0 0;
    padding: 0;
    font-size: $font-size-md;
    span {
        font-size: $font-size-lg;
    }
}

.section-outer {

}
.section-inner {
    padding: 60px 20px;
    max-width: 800px;
    margin: 0 0 50px;
}

.hidden {
    display: none;
}

.form-group {
    $parent: &;
    & + & {
        margin-top: 24px;
    }
    &--row{
        display: flex;
        #{$parent}__title{
            margin-right: 12px;
            margin-top: 18px;
        }
        & + & {
            margin-top: 12px;
        }
    }

    &__title{
        font-size: $font-size-md;
    }
    &__control{
        margin-top: 8px;
    }
}

.control {
    display: flex;
    &--col{
        flex-direction: column;
    }
    &__input,
    &__button{
        margin: 0;
        background: none;
        color: $color-white;
    };

    &__input{
        display: block;
        width: 100%;
        font-size: $font-size-lg;
        padding: 0;
        border-width: 0 0 1px;
        border-style: solid;
        border-bottom-color: $color-white;
        
    };
    &__button{
        cursor: pointer;
        padding: 8px 20px;
        font-size: $font-size-md;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: .2s;
        &:hover,
        &--active {
            border-color: $color-white;
        }
        & + & {
            margin-left: 12px;
        }
    }
}


