@import "vars.scss";
@import "../fsd/header/header.scss";
@import "../fsd/footer/footer.scss";
@import "../fsd/copyright/copyright.scss";
@import "../fsd/blocks/text-field/text-field.scss";
@import "../fsd/form-elem/form-elem.scss";
body{
    padding: 10px;
    max-width: 1440px;
    background-color: #E5E5E5;
}


