//-
    options.name - заголовок группы чекбоксов
    options.items - [] - массив с данными чекбоксов 
    --
    options.items.text - текст под чекбоксом
    options.items.title - заголовок чекбокса
    options.items.id - id чекбокса
    options.items.checked - checked чекбокса

include ../checkbox/checkbox

mixin rich-checkbox(options)
    .rich-checkbox__name= options.name
    for item in options.items
        .rich-checkbox
            +checkbox({title : item.title, id : item.id, tclass: 'rich-checkbox_bold', checked: item.checked })
            .rich-checkbox__text= item.text