@import '@/theme/variables.scss';

.rich-checkbox {
    width: 266px;

    &_bold {
        font-family: $font-mont-bold;
        color: rgba(31, 32, 65, 0.75);
        &::before {
            margin-right: 10px;
        }
    }
    &__text {
        margin-left: 30px;
        font-family: $font-mont;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: rgba(31, 32, 65, 0.5);
    }
    &__name {
        font-family: $font-mont-bold;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
        margin-bottom: 15px;
    }
}