.dropdown__box(data-preset='guest')
    .drop__text-box
        .drop__text-field
    .drop__menu
        .item 
            .item__text спальни
            .item__calc
                button.item__calc-dec -
                .item__value 2
                button.item__calc-inc +
        .item 
            .item__text кровати
            .item__calc
                button.item__calc-dec -
                .item__value 2
                button.item__calc-inc +
        .item 
            .item__text ванные комнаты
            .item__calc
                button.item__calc-dec -
                .item__value 0
                button.item__calc-inc +


                


