@import '@/theme/variables.scss';


.dropdown__box {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    height: 44px;
    position: relative;
}

.drop__text-box {
    display: flex;
    align-items: center;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px 4px 0 0;
    background: #FFFFFF;
    color: rgba(31, 32, 65, 0.75);
    width: 266px;
    position: relative;
    &::after{
        top: 10px;
        right: 10px;
        position: absolute;
        font-family: 'Material Icons';
        font-size: 24px;
        content: 'keyboard_arrow_down';
    }
}

.drop__text-field {
    font-family: $font-mont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 15px;
    width: 175px;
}

.drop__menu {
    width: 266px;
    display: none;
    position: absolute;
    top: 42px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;
    z-index: 1;
}

.dropdown_w320 {
    width: 320px;
}

.visible {
    display: block;
}

.dropdown__box_active {
    border: 1px solid rgba(31, 32, 65, 0.5);
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px; 
}

.dropdown__clear {
    font-family: $font-mont-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
    margin: auto 13px;
    cursor: pointer;
}

.dropdown__clear_unactive {
    visibility: hidden;
}

.dropdown__submit {
    font-family: $font-mont-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
    margin: auto 7px;
    cursor: pointer;
    justify-self: end;
}

.item__text {
    font-family: $font-mont-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    padding-left: 15px;
}

.item__calc {
    padding-right: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__value {
    font-family: $font-mont-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #1F2041;
    width: 32px;
}

.item__calc-dec,
.item__calc-inc {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 22px;
    background-color: white;
    cursor: pointer;
    font-family: $font-mont;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: rgba(31, 32, 65, 0.5);
    &:focus{
        outline: none;
    }
    &:active {
        border: 1px solid rgba(31, 32, 65, 0.75);
    }
    &:hover {
        border: 1px solid rgba(31, 32, 65, 0.5);
    }
    &_unactive {
        border: 1px solid rgba(31, 32, 65, 0.10);
        &:focus,
        &:active,
        &:hover {
            border: 1px solid rgba(31, 32, 65, 0.10);
        }
    }
}
