.calendar
    .calendar__box
        .calendar__arrive
            .calendar__arrive-text
        .calendar__exit
            .calendar__exit-text
    .calendar__select(data-year='2011', data-mounth='11')
        .calendar__nav
            .calendar__prev
            .calendar__month Август<br>2020
            .calendar__next
        .calendar__content
            .calendar__week-days
                .calendar__week-day Пн
                .calendar__week-day Вт
                .calendar__week-day Ср
                .calendar__week-day Чт
                .calendar__week-day Пт
                .calendar__week-day Сб
                .calendar__week-day Вс
            .calendar__dates