@import '@/theme/variables.scss';
.calendar {
    width: 320px;
    position: relative;
}

.calendar__box {
    max-width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    height: 44px;  
}

.calendar__select {
    width: 320px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    position: fixed;
    display: none;
    z-index: 100;
}
.calendar__select_active {
    display: block;
}

.calendar__content-box {
    display: flex;
    justify-content: center;
}

.calendar__content {
    max-height: 320px;
    width: 280px;
};
.calendar__dates {
    
}

.calendar__date_hover {
    color: #FFFFFF;
    font-weight: bold;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.calendar__date_grayhover {
    background-color: #E5E5E5;
}

.calendar__date {
    font-family: $font-mont;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    text-align: center;
    color: rgba(31, 32, 65, 0.5);
    width: 40px;
    height: 40px;
    cursor: pointer;
    &:hover {
        //color: #FFFFFF;
        //font-weight: bold;
        //background: gray;
        border-radius: 22px;
    }
}



.calendar__other-month {
    color: rgba(31, 32, 65, 0.25);
}

.calendar__curr-date {
    border-radius: 22px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    color: rgba(31, 32, 65, 0.5);
}

.calendar__date_selected {
    color: #FFFFFF;
    font-weight: bold;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
}

.calendar__in-range {
    background: linear-gradient(180deg,rgba(188,156,255,.25),rgba(139,164,249,.25));
    border-radius: 0px;
}
.calendar__range-from {
    position: relative;
    &:before {
        content: "";
        background: -webkit-gradient(linear,left top,left bottom,from(rgba(188,156,255,.25)),to(rgba(139,164,249,.25)));
        background: -o-linear-gradient(top,rgba(188,156,255,.25) 0,rgba(139,164,249,.25) 100%);
        background: linear-gradient(180deg,rgba(188,156,255,.25),rgba(139,164,249,.25));
        position: absolute;
        width: 50%;
        height: 100%;
        left: 50%;
       //-z-index: -1;
    }
}

.calendar__range-to {
    position: relative;
    &:before {
        content: "";
        background: -webkit-gradient(linear,left top,left bottom,from(rgba(188,156,255,.25)),to(rgba(139,164,249,.25)));
        background: -o-linear-gradient(top,rgba(188,156,255,.25) 0,rgba(139,164,249,.25) 100%);
        background: linear-gradient(180deg,rgba(188,156,255,.25),rgba(139,164,249,.25));
        position: absolute;
        width: 50%;
        height: 100%;
        right: 50%;
       //-z-index: -1;
    }
}

.calendar__week-days {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 280px;
};

.calendar__week-day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-family: $font-mont-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #BC9CFF;
};


.calendar__nav {};

.calendar__prev {
    &:after {
        position: absolute;
        top: 30px;
        left: 20px;
        font-family: 'Material Icons';
        font-size: 24px;
        content: 'arrow_back';
        position: absolute;
        color: #BC9CFF;
        cursor: pointer;
      }
};
.calendar__next {
    &:after {
        position: absolute;
        top: 30px;
        right: 20px;
        font-family: 'Material Icons';
        font-size: 24px;
        content: 'arrow_forward';
        position: absolute;
        color: #BC9CFF;
        cursor: pointer;
      }
};

.calendar__month {
    font-family: $font-mont-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #1F2041;
    margin: 20px auto 7px;
}


.calendar__exit,
.calendar__arrive {
    display: flex;
    align-items: center;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    background: #FFFFFF;
    color: rgba(31, 32, 65, 0.75);
    position: relative;
    
    &::after{
        top: 10px;
        right: 10px;
        position: absolute;
        font-family: 'Material Icons';
        font-size: 24px;
        content: 'keyboard_arrow_down';
        color: rgba(31, 32, 65, 0.5);
    }
}

.calendar__exit-text,
.calendar__arrive-text {
    height: 44px;
    width: 150px;
    font-family: $font-mont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    padding-left: 15px;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    outline: none;
}

.calendar__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.calendar__clear,
.calendar__apply {
    font-family: $font-mont-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
    margin: 20px;
    cursor: pointer;
}

