.head-foot {
    &__logo {
        margin-bottom: 62px;
    }
    &__header {
        margin-bottom: 40px;
    }
    &__footer {
        margin-bottom: 1px;
    }
    &__copy {
        margin-bottom: 40px;
    }
}

.wrapper {
    width: 100%;
}