.footer
    .footer__container
        .footer__info
            .footer__column
                img(src="main-logo.svg").main-logo.footer__logo
                .footer__disc Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            .footer__column
                .text-bold-12.footer__bold-text навигация
                .text-head-foot.footer__link-text О нас
                .text-head-foot.footer__link-text Новости
                .text-head-foot.footer__link-text Служба поддержки
                .text-head-foot.footer__link-text Услуги
            .footer__column
                .text-bold-12.footer__bold-text О нас
                .text-head-foot.footer__link-text О сервисе
                .text-head-foot.footer__link-text Наша команда
                .text-head-foot.footer__link-text Вакансии
                .text-head-foot.footer__link-text Инвесторы
            .footer__column
                .text-bold-12.footer__bold-text Служба поддержки
                .text-head-foot.footer__link-text Соглашения
                .text-head-foot.footer__link-text Сообщества
                .text-head-foot.footer__link-text Связь с нами
            .footer__column
                .text-bold-12.footer__bold-text Подписка
                .footer__disc Получайте специальные предложения и новости сервиса
                input(type="email" pattern="Email").footer__email
    .footer__copyright
        .footer__copy-container
            .footer__copy-text Copyright © 2018 Toxin отель. Все права зачищены.
            .socials
                .socials__item
                     i.fab.fa-twitter
                .socials__item
                     i.fab.fa-facebook-square
                .socials__item
                     i.fab.fa-instagram
                