mixin footer-items(title, ...items)
    .footer__column
        .text-bold-12.footer__bold-text= title
        each item in items
            .footer__link-text
                a.text-head-foot(href="#")= item

.footer
    .footer__container
        .footer__info
            .footer__column
                img(src="main-logo.svg").main-logo.footer__logo
                .footer__disc Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            +footer-items('навигация', 'О нас', 'Новости', 'Служба поддержки', 'Услуги')
            +footer-items('о нас', 'О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы')
            +footer-items('служба поддержки', 'Соглашения', 'Сообщества', 'Связь с нами')
            .footer__column
                .text-bold-12.footer__bold-text подписка
                .footer__disc Получайте специальные предложения и новости сервиса
                .email-input.footer__email
                    input(type="email" placeholder="Email" maxlength="70" id="email").email-input__box
                    .email-input__icon

    .footer__copyright
        .footer__copy-container
            .copy-text.footer__copy-text Copyright © 2018 Toxin отель. Все права зачищены.
            .socials
                .socials__item.footer__socials
                     a(href="#").fab.fa-twitter
                .socials__item.footer__socials
                     a(href="#").fab.fa-facebook-square
                .socials__item.footer__socials
                     a(href="#").fab.fa-instagram
                