.footer
    .footer__container
        .footer__info
            .footer__column-1
                img(src="main-logo.svg").main-logo.footer__logo
                .footer__disc Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            .footer__column-2
                .text-bold-12 навигация
                .text-head-foot О нас
                .text-head-foot Новости
                .text-head-foot Служба поддержки
                .text-head-foot Услуги
            .footer__column-3
                .text-bold-12 О нас
                .text-head-foot О сервисе
                .text-head-foot Наша команда
                .text-head-foot Вакансии
                .text-head-foot Инвесторы
            .footer__column-4
                .text-bold-12 Соглашение
                .text-head-foot Сообщества
                .text-head-foot Связь с нами
            .footer__column-5
                .text-bold-12 Подписка
                .footer__disc Получайте специальные предложения и новости сервиса
                input(type="email")

        .footer__copyright