.footer__copy-text {
    padding: 10px 5px 10px 5px;
    font-family: Montserrat-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.75);
    display: block;
}