//- 
    options.iconName имя иконки Material Icons
    options.title - заголовок
    options.text - текст
    options.hr - линия под контентом


mixin benefits-desc(options)
    
    .benefits-desc
        .benefits-desc__container
            .material-icons.benefits-desc__icon= options.iconName
            .benefits-desc__block
                .benefits-desc__title= options.title
                .benefits-desc__text= options.text
        if (options.hr)
            .benefits-desc__hr