mixin menu-items(options)
    for item in options
        a.text-head-foot.header__menu-item(href= `${item.href}` class= item.class)= item.name

include ../button/button

mixin header(options)
    - if (!options) {options = {}}
    header.header
        .header__container
            .header__main-logo
                include ../main-logo/main-logo
            .header__burger
                span
            nav.header__nav
                +menu-items([{name: 'О нас', class: 'header__menu-item_current', href: '#'}, 
                            {name: 'Услуги', class: 'header__menu-item_arrow-down', href: '#'},
                            {name: 'Вакансии', class: '', href: '#'},
                            {name: 'Новости', class: '', href: '#'},
                            {name: 'Соглашения', class: 'header__menu-item_arrow-down', href: '#'},])
                
                if (options.logged === true)
                    .header__stick
                    .text-head-foot.header__menu-item Юлий Цезарь
                else
                    .header__button-in.header__menu-item
                        +button({space: true, purpletxt: true,  text: 'ВОЙТИ'})
                    .header__button-reg.header__menu-item
                        +button({space: false, purpletxt: false, text: 'ЗАРЕГИСТРИРОВАТЬСЯ'})