include ../menu/menu

.header
    .header__container
        include ../main-logo/main-logo
        .header__nav
            +menu-items([{name: 'О нас', class: 'menu__item_current', href: '/about'}, 
                        {name: 'Услуги', class: 'menu__item_arrow-down', href: '/services'},
                        {name: 'Вакансии', class: '', href: '/vacancies'},
                        {name: 'Новости', class: '', href: '/news'},
                        {name: 'Соглашения', class: 'menu__item_arrow-down', href: '/vacancies'},])
            .login
                .header__stick
                .text-head-foot Юлий Цезарь
                