
@import "header__stick.scss";
@import "header__container.scss";
@import "header__buttons.scss";
@import "header__nav.scss";
@import "header__logo.scss";
@import "../blocks/text-head-foot/text-head-foot.scss";
@import "../blocks/menu/menu.scss";
@import "../blocks/button/button.scss";
@import "../blocks/login/login.scss";
@import "../blocks/main-logo/main-logo.scss";
@import "../blocks/gray-logo/gray-logo.scss";


.header {
    position: relative;
    z-index: -2;
    background-color: white;
    height: 70px;
    margin-bottom: 40px;
}