
.header
    .header__container
        img(src="main-logo.svg").main-logo
        .header__nav
            .menu
                a(href='#').menu__item.menu__item_current.text-head-foot О нас
                a(href='#').menu__item.menu__item_arrow-down.text-head-foot Услуги
                a(href='#').menu__item.text-head-foot Вакансии
                a(href='#').menu__item.text-head-foot Новости
                a(href='#').menu__item.menu__item_arrow-down.text-head-foot Соглашения
            .login
                .header__buttons
                    button.button.button_notfill.login__button-in ВОЙТИ
                .header__buttons
                    button.button.login__button-reg ЗАРЕГИСТРИРОВАТЬСЯ