mixin menu-items
    each value, index in {'О нас': 'menu__item_current', 'Услуги':'menu__item_arrow-down', 'Вакансии':'', 'Новости':'', 'Соглашения': 'menu__item_arrow-down'}
        a.text-head-foot.menu__item(href='#' class=value)= index

.header
    .header__container
        img(src="main-logo.svg").main-logo
        .header__nav
            .menu
                +menu-items
            .login
                .header__buttons
                    button.button.button_notfill.login__button-in ВОЙТИ
                .header__buttons
                    button.button.login__button-reg ЗАРЕГИСТРИРОВАТЬСЯ