//- 
    options.title - текст чекбокса
    options.id - id чекбокса



mixin checkbox(options)
    .checkbox__block
        input(type="checkbox" id= options.id).checkbox__checkbox
        label(for= options.id).checkbox__label= options.title
            .checkbox__check
                .checkbox__check-in
        