@import '@/theme/variables.scss';

.checkbox {
    &__block {
        display: flex;
        padding: 5px 0;
    }

    &__checkbox {
        display: inline-block;
        height: 20px;
        width: 20px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
    }

    &__label {
        display: inline;
        font-family: $font-mont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);
    }

    &__check {
        visibility: hidden;
        width: 6px;
        height: 8px;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        position: absolute;
        transform: rotate(45deg);
        margin-top: 5px;
        margin-left: 7px;
        border: 0px;
        box-shadow: none;
    }

    &__check-in {
        width: 4px;
        height: 6px;
        background-color: #FFF;
        box-sizing: border-box;
        border-top: 1px solid #FFF;
        border-left: 1px solid #FFF;
    }
}

/* формируем внешний вид чекбокса в псевдоэлементе before */
label.checkbox__label:before {
    content: " ";
    color: #000;
    display: inline-block;
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 20px;
    height: 20px;
    background: #FFF;
    vertical-align: middle;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
  }

input:checked ~ .checkbox__check {
    visibility: visible;
}

input:checked + label.checkbox__label:before {
    font-family: $font-mont-bold;
    content: "";
    border: 1px solid #BC9CFF;
}

  /* вариации внешнего вида в зав-ти от статуса checkbox */
  /* checked */

input:disabled + label.checkbox__label:before {
    background: #eee;
    color: #aaa;
}
  
/* прячем input checkbox */
input[type="checkbox"] {
    display: none;
}