@import '@/theme/variables.scss';

.checkbox {

    &__block {
        display: flex;
        padding: 5px 0;
    }

    &__checkbox {
        display: none;
    }

    &__label {
        height: 20px;
        display: inline-flex;
        
        font-family: $font-mont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);
        cursor: pointer;
        position: relative;
    }

    &__check {
        z-index: 1;
        top: 5.5px;
        left: 7px;
        opacity: 0%;
        width: 6px;
        height: 8px;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        position: absolute;
        transform: rotate(45deg);
        margin-top: 0px;
        margin-left: 0px;
        border: 0px;
        box-shadow: none;
        transition: .3s;
    }

    &__check-in {
        width: 4px;
        height: 6px;
        background-color: #FFF;
        box-sizing: border-box;
        border-top: 1px solid #FFF;
        border-left: 1px solid #FFF;
    }
}

/* формируем внешний вид чекбокса в псевдоэлементе before */
.checkbox__label:before {
    content: " ";
    color: #000;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    text-indent: 0px;
    width: 20px;
    height: 20px;
    background: #FFF;
    vertical-align: middle;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    transition: .3s;
  }

input:checked ~ .checkbox__label .checkbox__check {
    opacity: 100%;
}

input:checked ~ .checkbox__label:before {
    content: "";
    border: 1px solid #BC9CFF;
}

/* вариации внешнего вида в зав-ти от статуса checkbox */
/* checked */

input:disabled ~ .checkbox__label:before {
    background: #eee;
    color: #aaa;
}
  

