@import '@/theme/variables.scss';
.footer {
    margin-top: 1px;
    &__bold-text {
        padding-top: 4px;
        padding-bottom: 21px;
    }
    &__colunm {
        display: flex;
        justify-content: center;
        &:first-child {
            width: 160px;
        }
        &:last-child {
            width: 160px;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 372px;
        box-sizing: border-box;
        background-color: white;
        box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
        margin-bottom: 1px;
    }
    &__copy-container {
        width: 1160px;
        min-height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        //flex-wrap: wrap;
    }
    &__copy-text {
        padding: 10px 5px 10px 10px;
        display: block;
        font-family: $font-mont, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: rgba(31, 32, 65, 0.75);
        text-align: center;
    }
    &__copyright {
        background-color: white;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    &__disc {
        font-family: Montserrat-Regular, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: hsla(240, 13%, 9%, 0.75);
        width: 260px;
        margin-top: -3px;
    }
    &__email {
        margin-top: 23px;
        width: 260px;
        height: 44px;
    }
    &__info {
        display: grid;
        grid-template-columns: minmax(270px, 300px) minmax(170px, 200px) minmax(130px, 200px) minmax(170px, 200px) 260px; //300px 200px 200px 200px 260px
        max-width: 1160px;
        row-gap: 25px;
        margin-top: 5px;
        padding: 0 10px;
    }
    &__link-text {
        padding-bottom: 20px;
    }
    &__logo {
        padding-bottom: 19px;
    }
    &__socials {
        display: flex;
        justify-content: center;
        &:last-child {
            padding-right: 0px;
        }
    }
}

@media (max-width: 1040px) {

    .footer__container {
        height: auto;
        padding: 40px 0;
    }
    .footer__info {
        grid-template-columns: minmax(270px, 300px) minmax(170px, 200px) minmax(130px, 200px);
        grid-template-rows: 170px 170px;}
        justify-content: center;

    }
    

@media (max-width: 610px) {
    .footer__copy-container {
        display: block;
    }
    .footer__info {
        grid-template-columns: minmax(270px, 300px) minmax(170px, 200px);
        grid-template-rows: 170px 170px 170px;
        row-gap: 10px;
    }
}

@media (max-width: 490px) { 
    .footer__info {
        grid-template-columns: minmax(150px, 270px);
        grid-template-rows: 135px 170px 170px 140px 160px;
    }
    .footer__container {
        padding: 10px 0 10px 0;
    }
}