mixin footer-items(title, ...items)
    .footer__column
        .text-bold-12.footer__bold-text= title
        each item in items
            .footer__link-text
                a.text-head-foot(href="#")= item
include ../text-input/text-input
include ../socials/socials
.footer
    .footer__container
        .footer__info
            .footer__column
                .footer__logo
                    include ../main-logo/main-logo.pug
                .footer__disc Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            +footer-items('навигация', 'О нас', 'Новости', 'Служба поддержки', 'Услуги')
            +footer-items('о нас', 'О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы')
            +footer-items('служба поддержки', 'Соглашения', 'Сообщества', 'Связь с нами')
            .footer__column
                .text-bold-12.footer__bold-text подписка
                .footer__disc Получайте специальные предложения и новости сервиса
                +text-input({type: 'email', class:'footer__email', placeholder: 'Email'})

    .footer__copyright
        .footer__copy-container
            .copy-text.footer__copy-text Copyright © 2018 Toxin отель. Все права зачищены.
            +socials({class: 'footer__socials'})
           
                