@import '@/theme/variables.scss';
.socials {
    display: flex;

    &__item {
        font-size: 24px;
        line-height: 23px;
        background: $grad-color;
        -webkit-background-clip: text; /* Обрезаем фон по тексту */
        -webkit-text-fill-color: transparent; /* Прозрачный текст */
        padding: 0 10px;
        
    }
}
