.text-field {
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    width: 260px;
    height: 44px;
    border-radius: 4px;
    font-family: $font-mont, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    padding-left: 15px;
    &::placeholder {
        font-family: $font-mont, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: rgba(31, 32, 65, 0.25);
    }
    &:hover, &:focus {
        border: 1px solid rgba(31, 32, 65, 0.5);
        outline: none;
        &::placeholder {
            color: rgba(31, 32, 65, 0.75);
        }
    }
    
}

@import 'text-field-box.scss';