//- 
    options.title название переключателя
    options.id id переключателя
    options.checked - checked 

mixin toggle-but(options)
    .toggle-but
        label(for= options.id).toggle-but__label= options.title
            input(type="checkbox" id= options.id checked= options.checked).toggle-but__input
            .toggle-but__slider
        
        

