include ../socials/socials
.copyright
    .copyright__container
            .copyright_item-1
                include ../main-logo/main-logo.pug
            .copyright_item-2 Copyright © 2018 Toxin отель. Все права зачищены.
            +socials
            