.copyright
    .copyright__container
            .copyright_item-1
                include ../main-logo/main-logo.pug
            .copy-text.copyright_item-2 Copyright © 2018 Toxin отель. Все права зачищены.
            .socials
                .socials__item
                        a(href="#").fab.fa-twitter
                .socials__item
                        a(href="#").fab.fa-facebook-square
                .socials__item
                        a(href="#").fab.fa-instagram