
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: $font-mont-bold, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color:white;
    border: 0;
    border-radius: 22px;
    background: $grad-color;
    height: 44px;
    width: 320px;
    &:after {
        position: absolute;
        right: 10px;
        font-family: 'Material Icons';
        font-size: 24px;
        content: 'arrow_forward';
      }
}

@import "button_notfill.scss";