.button_notfill {
    color: #BC9CFF;
    position: relative;
    width: 99px;
    background: white;
    border-image-slice: 1;
    border-radius: 22px;
    &:after {
        display: none;
    }
    &::before {
        position: absolute;
        content: "";
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        background: $grad-color;
        border-radius: 26px;
        z-index: -1;
      }
}