extends main
block variables
    - var pageTitle = 'Headers & Footers'
block content
<<<<<<< Updated upstream
    //img(src="gray-logo.svg").gray-logo
    include fsd/form-elem/form-elem.pug
    //include fsd/header/header.pug
    //include fsd/header/header-logged.pug
    //include fsd/footer/footer.pug
    //include fsd/copyright/copyright.pug
=======
    include components/gray-logo/gray-logo.pug
    //- include fsd/form-elem/form-elem.pug
    include components/header/header.pug
    include components/header/header-logged.pug
    include components/footer/footer.pug
    include components/copyright/copyright.pug
>>>>>>> Stashed changes
  

        
        
        
