extends main
block variables
    - var pageTitle = 'Headers & Footers'
block content
    //img(src="gray-logo.svg").gray-logo
    include fsd/form-elem/form-elem.pug
    //include fsd/header/header.pug
    //include fsd/header/header-logged.pug
    //include fsd/footer/footer.pug
    //include fsd/copyright/copyright.pug
  

        
        
        
