extends main
block variables
    - var pageTitle = 'Headers & Footers'
block content
    //include components/gray-logo/gray-logo.pug
    .ber(style='display:flex;')
        include components/calendar/calendar.pug
        //include components/dropdown-guests/dropdown-guests.pug
    //include components/header/header.pug
    //include components/header/header-logged.pug
    //include components/footer/footer.pug
    //include components/copyright/copyright.pug
  

        
        
        
