block variables

doctype html
html(lang="en")
  head
    title= pageTitle
  body
    img(src="gray-logo.svg").gray-logo.header__logo
    include fsd/header/header.pug
    include fsd/header/header-logged.pug
    include fsd/footer/footer.pug
    block content
    block scripts