.cards {
    margin: 0 auto;
    width: 1920px;
    height: 100%;
    background-color: #E5E5E5;
    
    &__container {
        width: 1440px;
        margin: 0 auto;
        display: flex;
    }

    &__column {
        display: block;
        width: 420px;
        height: 2000px;
    }
    &__item {
        margin: 0 auto;
        margin-bottom: 40px;
    }
    &__item_cal .calendar__box {
        display: none;
    }
    &__item_cal .calendar__select {
        position: static;
    }
}

.cards .gray-logo {
    margin-bottom: 72px;
}
