//- Миксин добавляет группу радио кнопок

    options.items.id - id radio кнопки
    options.name - имя группы радио кнопок
    options.items.title - title кнопки
    options.items.checked - значение по умолчанию
    options.text - text

mixin radio-but(options)
    
        .radio-but__text= options.text
        .radio-but__container
            for item in options.items
                .radio-but
                    input(checked= item.checked type="radio" id= item.id name= options.name).radio-but__input
                    label(for= item.id).radio-but__label= item.title
                        .radio-but__circle
            