
@import '@/theme/variables.scss';

.button-text {
    font-family: $font-mont-bold, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: white;
    text-transform: uppercase;
    &_purple {
        color: #BC9CFF;
    }
    &_black {
        color: rgba(31, 32, 65, 0.5);
    }
}