//- 
    options.items - массив с img
    options.lycs - люкс
    options.num - номер номера
    options.price - цена
    options.rew - кол-во отзывов

include ../rating-star/rating-star

mixin slider(options)
    - let num = '№ ' + options.num
    - let price = options.price ? options.price + '₽' : ''
    - let rew = options.rew ? options.rew : ''
    .slider
        .single-item
            for item in options.items
                - let image = 'img/' + item
                div: img(src= image, alt="").slider__image
        .slider__content
            .slider__num= num
                if options.lycs
                    span люкс
            .slider__price <span>#{price}</span> в сутки
        .slider__hr
        .slider__rating
            +rating-star({rating: '4'})
            .slider__reviews <span>#{rew}</span> Отзывов
                

            
